div.cat:hover {
  scale: 1.2;
}

div.label {
  opacity: 0.8;
  position: absolute;
  font-family: Arial;
  color: white;
  background-color: #0008;
}

div.node {
  pointer-events: none;
  transform: translateY(-50%);
}

div.cat {
  font-size: larger;
  transform: translate(-50%, -50%);
}

div.info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #8888;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial;
  backdrop-filter: blur(20px);
}

div.infofunc {
  font-size: larger;
}

a {
  color: white;
  text-decoration:none
}

div.infocat {
  font-size: small;
  opacity: 0.6;
}

div.infomd {
  margin-top: 10px;
  overflow: auto;
}

div.search {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #8888;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial;
  backdrop-filter: blur(20px);
}
div.searchbox {
  padding: 10px;
}
input.searchbox {
  position: absolute;
  left: 30px;
  right: 0px;
}
div.searchitem {
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}
div.searchitem:hover {
  background-color: #fff4;
}
input {
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}

@media screen and (orientation: landscape) {
  div.infomd {
    max-height: 200px;
    max-width: 800px;
  }
  div.search {
    width: 400px;
  }
}

@media screen and (orientation: portrait) {
  div.info {
    max-width: calc(100% - 40px);
    overflow-x: hidden;
  }
  div.infomd {
    max-height: 200px;
  }
  div.search {
    left: 0;
  }
}