div.cat:hover {
  scale: 1.2;
}

div.label {
  position: absolute;
  font-family: Arial;
  color: white;
  background-color: #0008;
}

div.node {
  pointer-events: none;
  transform: translateY(-50%);
}

div.cat {
  font-size: larger;
  transform: translate(-50%, -50%);
}

div.info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #8888;
  max-height: 100px;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial;
  user-select: none;
}

div.infofunc {
  font-size: larger;
}

div.infocat {
  font-size: small;
  opacity: 0.6;
}